@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --sidebar-bg: 220 18% 16%;
    --nav-bg: 0 0% 18%;
    --card-bg: 240 14% 8%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --accent-yellow: 41 72% 63%;
    --border: 240 3.7% 15.9%;
    --border-light: 0 0% 89%;
    --input: 240 3.7% 15.9%;
    --ring: 41 72% 63%;
    --filter-active: 0 0% 32%;
    --filter-hover: 0 0% 27%;
    --filter-border: 0 0% 33%;
    --sidebar-border: 0 0% 22%;
    --card-bg-mobile: 233 11% 18%;
    --available: 142 70% 45%;
    --sold: 0 84% 60%;
    --reserved: 38 92% 50%;
    --radius: 0.625rem;
    --mobile-topbar-bg: 197 10% 14.3%;
    --mobile-topbar-border: 0 0% 100% / 0.2;
  }

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }

  * {
    border-color: hsl(var(--border));
    outline: none !important;
  }
}

/* Hide scrollbars but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}